
@font-face {
    font-family: "courgette";
    src: url("../font/Courgette/Courgette-Regular.ttf") format("ttf");
   }


   @font-face {
    font-family: "oswald";
    src: url("../font/Oswald/Oswald-VariableFont_wght.ttf") format("ttf");
         
   }


.banniere
{
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
   

}

nav, header {
    background-color: black;
    opacity: 0.7;
    
}

.navbar {
    border-bottom: 2px solid darkgrey;
    justify-content:flex-end;
}



h3
{
    
    font-family: "courgette";
    color: white;
}

.container-fluid h1
{
    color: white;
    font-family: 'courgette', cursive;
    font-style: italic;
}

.container-fluid h2
{
    color: white;
    font-family: 'courgette', cursive;
    font-style: italic;
}

.logo img
{

   margin-top: 50% ;
}

/*
.recettes img
{
    width:100%;
    
    
}

*/
.titre h1
{
    color:black;
    font-weight: bold;
    font-family: "oswald";
}


aside button {
    width: 100%;
}
h3
{
    color: black;
    font-family: 'courgette',
}   

